    body {
      margin: 0;
      padding: 0;
      background: url("signin.jpg") no-repeat center center fixed;
      font-family: Arial, sans-serif;
      height: 100vh;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Nút menu (3 gạch) */
    .menu-btn {
      position: fixed;
      top: 15px;
      left: 15px;
      font-size: 28px;
      cursor: pointer;
      color: black;
      background: rgba(254, 254, 254, 0.5);
      padding: 8px 12px;
      border-radius: 5px;
      z-index: 1100;
    }

    /* Sidebar */
    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      background: #6b6b50;
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 60px;
      z-index: 1000;
    }

    .sidebar a {
      display: block;
      padding: 15px 25px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: 0.3s;
    }

    .sidebar a:hover {
      background: rgba(254, 255, 240, 0.95);
    }

    /* Signin box */
    .signin-box {
      width: 420px; /* tăng độ rộng */
      padding: 30px;
      background: rgba(255, 255, 255, 0.85);
      border-radius: 12px;
      text-align: center;
      max-width: 90%;

    }

    .signin-box h2 {
      margin-bottom: 20px;
    }
.signin-box input {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
/* Grid 2 cột */
    .form-grid {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 12px;
    }

    .form-grid input {
      font-size: 14px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .form-grid input:focus {
      border-color: #f5ffda;
      outline: none;
    }

    /* Nút signin */
    .btn-signin {
      margin-top: 18px;
      width: 100%;
      padding: 12px;
      background: #6b6b50;
      border: none;
      cursor: pointer;
      color: white;
      font-weight: bold;
      border-radius: 6px;
      transition: 0.3s;
      font-size: 16px;
    }

    .btn-signin:hover {
      background: #6b6b50;
    }

    p {
      margin-top: 15px;
      font-size: 14px;
      color: #333;
    }

    p a {
      color: #6b6b50;
      text-decoration: none;
      font-weight: bold;
    }

    p a:hover {
      text-decoration: underline;
    }