    body {
      margin: 0;
      padding: 0;
      background: url("login.jpg") no-repeat center center fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
    }
/* Grid 2 cột */
    .form-grid {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 12px;
    }

    .form-grid input {
      font-size: 14px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .form-grid input:focus {
      border-color: #f5ffda;
      outline: none;
    }
    /* ----------------------LOGIN BOX-------------------- */
    .login-box {
      width: 420px;
      margin: 150px auto;
      padding: 20px;
      background: rgba(255, 255, 255, 0.85);
      border-radius: 10px;
      text-align: center;
    }

    .login-box h2 {
      margin-bottom: 20px;
    }

    .login-box input {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    /* -------------NÚT LOGIN------------ */
    .btn-login {
      width: 95%;
      padding: 10px;
      background: #6b6d50;
      border: none;
      cursor: pointer;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      transition: 0.3s;
    }

    .btn-login:hover {
      background: #6b6d50;
    }

    p {
      margin-top: 15px;
    }

    p a {
      color: #6b6d50;
      text-decoration: none;
      font-weight: bold;
    }

    p a:hover {
      text-decoration: underline;
    }